.header-container {
  background-color: purple;
  color: white;
  height: 5dvh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

@media (max-width: 600px) {
  .header-container {
    height: 8dvh;
  }
}

.secondary-header-container {
  color: #181818;

  background-color: white;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
