button {
  background-color: var(--foreground);
  color: var(--text-primary);

  width: 100%;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 5px;

  cursor: pointer;
  font-size: 16px;
}
button:hover {
  border: 1px solid #00abfa;
}

.settings-button,
.back-button {
  background-color: red;
  color: white;

  height: 100%;
}
