:root {
  --background: #f2f2f2;
  --foreground: #f0f9ff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f8f8;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  /* overflow: hidden; */
}

body {
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
