main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.workout-pages-header {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  border: 1px solid red;
}

.workout-container {
  background-color: #eeeeee;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 20px;

  border: 1px solid red;
}
