main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.workout-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 30px;
  gap: 20px;
}
