.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;

  gap: 40px;
}

.container::-webkit-scrollbar {
  display: none;
}

.buttonContainer {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 20px;
}

@media (max-width: 600px) {
  .buttonContainer {
    width: 100%;

    display: flex;
    flex-direction: column;
  }
}
