.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;

  overflow-y: hidden;

  gap: 40px;
}

.container::-webkit-scrollbar {
  display: none;
}

.buttonContainer {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;

  padding: 20px;
}

/* @media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
} */
