.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  /* Fixa o elemento na tela */
  position: fixed;

  bottom: 20px;
  z-index: 1000;

  background-color: #00b6ee;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

  gap: 8px;

  transition: transform 1s ease-in;
}

.timer-running {
  /* border: 3px solid #0076c5; */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.timer-button {
  width: 180px;
  height: 50px;

  font-size: 40pt;
  font-weight: 900;

  transition: transform 0.3s ease;
}

.reload-button {
  width: 50px;
  height: 50px;
}

.timer-button,
.reload-button {
  background-color: #ffffff00;

  color: #ffffff;
}

.btn-ready {
  background-color: #0076c5;
}
